@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import "tailwindcss";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme {
    --color-primary: #DD025A;
    --color-secondary: #24182E;
    --color-accent: #FDD6DE;
    --color-bgcolor: #E6F8F9;
    --color-footerbg: #250E3E;
    --color-textclr: #4B4B4B;
    --color-textclr2: #F9F5E3;
}

:root {
    --font-pacifico: "Pacifico", serif;
    --font-primary: "Poppins", serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
    overflow-x: hidden;
}

.container {
    max-width: 1320px;
}

.part {
    padding: 40px 0;
}

/* loader */
#content {
    opacity: 0;
}

@keyframes slow-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.slow-spin {
    animation: slow-spin 1.5s linear infinite;
}


.active {
    color: var(--color-primary);
    font-weight: bold;
}

.pacifico {
    font-family: var(--font-pacifico);
}

.banner-text {
    transition: transform 1s ease-out;
}


.owl-carousel .owl-stage {
    display: flex !important;
    /* Forces row direction */
}

.owl-carousel .owl-item {
    display: flex !important;
    /* Ensures items remain in a row */
    justify-content: center;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.pricing-card {
    animation: fadeInUp 0.6s ease-out;
}